<!-- page content -->
<div class="vista row-centered" style=" max-width: 450px !important; display: block;
  margin-right: auto;
  margin-left: auto;">

    <div class="page-title">
        <div class="title_left">

            <ol class="breadcrumb miga">
                <li><i class="fa fa-key"></i> <a ui-sref="changepass">Recuperar contraseña</a></li>
            </ol>

        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="x_panel" ng-show="actualizo">
            <div class="x_content sin-desborde">
                <div class="container success">
                    <div class="col-lg-6"></div>
                    <div class="jumbotron">
                        <h1 class="text-center"><span class="glyphicon glyphicon-saved"></span></h1>
                        <h3 class="text-center">Contraseña actualizada correctamente !</h3>
                    </div>
                </div>
                <button class="btn btn-lg btn-primary btn-block" ui-sref="login" >Continuar</button>
            </div>
        </div>
        <div class="x_panel" ng-hide="actualizo">
            <div class="x_title">
                <h2>Contraseña nueva</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content sin-desborde">
                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input class="form-control" placeholder="Nueva contraseña" name="contraseña" type="password" id="inputPassword" data-ng-model="loginData.confirmPassword"
                        required>
                </div>
                <div style="margin-bottom: 25px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input class="form-control" placeholder="Repetir nueva contraseña" name="contraseña" type="password" id="inputPassword" data-ng-model="repitpasswordnew"
                        required>
                </div>
                <div ng-hide="message == '' || loginData.confirmPassword != '' " class="alert alert-danger">
                    {{message}}
                </div>
                <button class="btn btn-lg btn-success btn-block" data-ng-click="change()" ng-disabled="!loginData.confirmPassword != '' || loginData.confirmPassword != repitpasswordnew ">Continuar</button>
                <br />
                <button class="btn btn-lg btn-primary btn-block" ui-sref="login">Cancelar</button>

                <p>
                    Soporte informático en Mesa de servicios de TICs ext. 5010
                </p>
            </div>
        </div>
    </div>
</div>