<div ng-include="'app/vistasGenericas/header/registroNombrePersona.html'"> </div>
<div class="vista">

    <div class="page-title">
        <div class="title_left">
            <ol class="breadcrumb miga">
                <li><i class="glyphicon glyphicon-file"></i> <a ui-sref="fichapersonal.sni({seccion:'sni'})">SNI</a></li>
                <li class="active">Editar</li>
            </ol>
        </div>
    </div>

  

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content sin-desborde">
                    <form name="sniEdit" id="form" class="form-horizontal">
                        <div class="x_title">
                            <h2>Informaci&oacute;n general</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Nivel SNI <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select auto-focus-campo required class="form-control" ng-required="true" name="nivelSNIId" ng-model="registrosni.nivelSNIId" ng-options="nivel.nivelSNIId as nivel.descripcion for nivel in nivelesSNI "></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                &Aacute;rea de conocimiento <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select ng-model="registrosni.areaSNIId" ng-required="true" name="areaSNIId" ng-options="area.areaSNIId as area.descripcion for area in areasSNI " required
                                        class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Fecha de ingreso al SNI
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row" >
                                    <div class="col-xs-10">

                                   
                                        <input placeholder="dd/mm/yyyy" ng-minlength="8" maxlength="10" name="fechaingreso" ng-init="open=false" type="text" show-button-bar="false" popup-placement="bottom" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="registrosni.fechaIngreso" value="{{ registrosni.fechaIngreso | date: 'dd/MM/yyyy' }}" is-open="open" close-text="Close" />
                                        <span ng-show="sniEdit.fechaingreso.$dirty &&  sniEdit.fechaingreso.$invalid" class="error">Formato inválido 'dd/MM/yyyy'</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <button type="button" class="btn btn-success" ng-click="open=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </div>
                                </div>

                                <!--  
                                <div class="row" ng-if="registrosni.fechaIngreso!=null">
                                    <div class="col-xs-10">
                                        <input placeholder="dd/mm/yyyy" name="fechaingreso" ng-minlength="8" maxlength="10" ng-init="open=false" type="text" show-button-bar="false" popup-placement="bottom" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="registrosni.fechaIngreso" value="{{ registrosni.fechaIngreso | date: 'dd/MM/yyyy' }}" is-open="open2" close-text="Close" />
                                        <span ng-show="sniEdit.fechaingreso.$dirty &&  sniEdit.fechaingreso.$invalid" class="error">Formato inválido 'dd/MM/yyyy'</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <button type="button" class="btn btn-success" ng-click="open2=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                     </div>
                                </div>
                        -->

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                N&uacute;mero de expediente <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" ng-required="true" maxlength="30" placeholder="Número de Expediente..." numbers-only class="form-control" name="numeroExpediente" ng-model="registrosni.numeroExpediente" ng-pattern="/^[1-9]+[0-9]*/" required>
                               
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Número de Curriculum Vitae &Uacute;nico (CVU)<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" ng-required="true" maxlength="30" placeholder="CVU..."  class="form-control" name="numeroCVU" ng-model="registrosni.numeroCVU" required ng-pattern="/^[1-9]+[0-9]*">
                            </div>
                        </div>

                        <div class="x_title">
                            <h2>Per&iacute;odo de nombramiento</h2>
                            <div class="clearfix"></div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Inicio <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <input placeholder="dd/mm/yyyy" ng-minlength="8" maxlength="10" name="fechaInicio" ng-init="open2=false" type="text" show-button-bar="false" popup-placement="bottom" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="registrosni.fechaInicioNombramiento" value="{{ registrosni.fechaInicioNombramiento | date: 'dd/MM/yyyy' }}" is-open="open2" ng-required="true" close-text="Close" />
                                        <span ng-show="sniEdit.fechaInicio.$dirty &&  sniEdit.fechaInicio.$invalid" class="error">Formato inválido 'dd/MM/yyyy'</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <button type="button" class="btn btn-success" ng-click="open2=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                T&eacute;rmino <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <input placeholder="dd/mm/yyyy"  name="fechaTermino" ng-minlength="8" maxlength="10" ng-init="open3=false" type="text" show-button-bar="false" popup-placement="bottom" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="registrosni.fechaTerminoNombramiento" value="{{ registrosni.fechaTerminoNombramiento | date: 'dd/MM/yyyy' }}" is-open="open3" ng-required="true" close-text="Close" />
                                        <span ng-show="sniEdit.fechaTermino.$dirty &&  sniEdit.fechaTermino.$invalid" class="error">Formato inválido 'dd/MM/yyyy'</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <button type="button" class="btn btn-success" ng-click="open3=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="x_title">
                            <h2>Evidencia <small>Tama&ntilde;o m&aacute;ximo por archivo de 8 MB, el formato de los archivos puede ser: PDF, DOC, DOCX</small></h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Documento adjunto
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div ng-show="!regFile">
                                    <span class="fa fa-download"></span>&nbsp;&nbsp;<a href="/Descargas.html#/q/{{registrosni.adjunto.adjuntoId | encriptar}}" class="linkTabla" target="_blank">Descargar Archivo</a>
                                    &nbsp;&nbsp;
                                    <a class="btn btn-danger" title="Eliminar Archivo" ng-really-click="deleteFile();sniEdit.$setDirty();"  ng-really-message="¿Está seguro de eliminar el documento adjunto?">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </a>
                                </div>
                                <div class="form-group" ng-show="regFile">
                                    <input class="input-file form-control col-md-7 col-xs-12" type="file" name="filesGral" id="filesGral" data-buttonName="btn-success"
                                           ng-click="saveIG();" ng-model="filesGral"
                                           onchange="angular.element(this).scope().getFileDetails(this);" />
                                </div>
                                <div class="form-group">
                                    <div class="alert informacion col-xs-12">
                                        <span class="glyphicon glyphicon-info-sign"></span> Nota: Para enviar la solicitud es necesario incluir el documento adjunto de evidencia.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <div class="">
                                    <button type="submit" ng-click="sniedit()" class="btn btn-success" 
                                            ng-disabled="desabilitar
                                            ||!sniEdit.nivelSNIId.$valid ||!sniEdit.areaSNIId.$valid
                                            ||!sniEdit.numeroExpediente.$valid ||!sniEdit.numeroCVU.$valid
                                            ||!sniEdit.fechaInicio.$valid ||!sniEdit.fechaTermino.$valid">
                                        <i class="glyphicon glyphicon-saved"></i> Actualizar
                                    </button>
                                    <!-- <button type="button" ui-sref="fichapersonal.sni({seccion:'sni'})" class="btn btn-primary">
                                        <span class="fa fa-arrow-left"></span> Regresar
                                    </button> -->
                                    <button type="button" confirma-regresar="regresar()" state-form="sniEdit" class="btn btn-primary">
                                        <span class="fa fa-arrow-left"></span> Regresar
                                    </button>
                                    <button ng-show="!regFile && editarGestion==0" ng-hide="editarGestion==1 || registrosni.estadoFlujoId!=1 || regFile" type="submit" ng-click="validar()" class="btn btn-warning" 
                                            ng-disabled="desabilitar
                                            ||!sniEdit.nivelSNIId.$valid ||!sniEdit.areaSNIId.$valid
                                            ||!sniEdit.numeroExpediente.$valid ||!sniEdit.numeroCVU.$valid
                                            ||!sniEdit.fechaInicio.$valid ||!sniEdit.fechaTermino.$valid">
                                        <i class="glyphicon glyphicon-saved"></i> Enviar solicitud al Administrador de CH
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
