<div class="vista">
    <div class="page-title">
        <div class="title_full">
            <ol class="breadcrumb miga">
                <li><i class="glyphicon glyphicon-file"></i> <a ui-sref="buscarPlanNegocio">Plan de negocio evolutivo/ Buscar planes de negocio evolutivo</a></li>
                <li class="active">Detalles</li>
            </ol>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <!--{{registro | json}}-->
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content sin-desborde">
                    <label class="detalle col-xs-12 " title="titulo">
                        {{registro.titulo}}
                    </label>
                    <label class="cont emc col-xs-12 colorTit">
                        {{registro.tema}}
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content sin-desborde">
                    <div class="x_title">
                        <h2>Informaci&oacute;n general</h2>
                        <div class="clearfix"></div>
                        <label class="tit col-xs-12">
                            Oferta de valor
                        </label>
                        <label class="cont col-xs-12">
                            {{registro.ofertaDeValor}}
                        </label>
                        <label class="tit col-xs-12">
                            Tipo de acceso
                        </label>
                        <label class="cont col-xs-12">
                            {{registro.tipoAccesoGI.nombre}}
                        </label>
                        <label class="tit col-xs-12">
                            Proyecto
                        </label>
                        <label class="cont col-xs-12">
                            {{registro.proyecto.nombre}}
                        </label>
                        <label class="tit col-xs-12">
                            Propuesta
                        </label>
                        <label class="cont col-xs-12">
                            {{registro.propuesta.nombreTecnico}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="x_panel">
                <div class="x_content sin-desborde">
                    <div class="x_title">
                        <h2>Autores</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <table id="CHPonenciaAdd" class="table table-hover" cellspacing="0" dt-options="dtOptions">
                            <thead>
                                <tr>
                                    <th data-priority="1">N&uacute;m empleado</th>
                                    <th data-priority="1">Nombre de empleado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="autor in registro.planNegocioEvolAutores">
                                    <td ng-click="openProfile(autor.clavePersona)" title="Detalle de empleado" class="linkTabla">
                                        {{autor.clavePersona}}
                                    </td>
                                    <td>{{autor.nombre}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="x_panel">
                <div class="x_content sin-desborde">
                    <div class="x_title">
                        <h2>Gerencias</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <table id="CHPonenciaAdd" class="table table-hover" cellspacing="0" dt-options="dtOptions">
                            <thead>
                                <tr>
                                    <th data-priority="1">Nombre</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="reg in registro.planNegocioEvolGerencias">
                                    <td>{{reg.nombreUnidad}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--{{descarga}}-->
            <div class="x_panel" ng-if="descarga">
                <div class="x_content sin-desborde">
                    <div class="x_title">
                        <h2>Evidencia</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <table id="CHPonenciaAdd" class="table table-hover" cellspacing="0" dt-options="dtOptions">
                            <thead>
                                <tr>
                                    <th data-priority="1">Fecha</th>
                                    <th data-priority="1">Nombre</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="arc in registro.planNegocioEvolArchivos">
                                    <!--<td>{{arc.adjunto.nombre}}</td>-->
                                    <td>{{arc.fecha | date: "dd/MM/yyyy"}}</td>
                                    <td>
                                        <span class="fa fa-download"></span>&nbsp;&nbsp;<a href="/Descargas.html#/q/{{arc.adjunto.adjuntoId | encriptar}}" class="linkTabla" target="_blank">{{arc.adjunto.nombre}}</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button type="button" ng-click="globalRegresar()" class="btn btn-primary">
                <span class="fa fa-arrow-left"></span> Regresar
            </button>
        </div>


    </div>
</div>
