<div class="vista">
    <div class="page-title">
        <div class="title_left">
            <ol class="breadcrumb miga">
                <li><i class="sg sg-clientes"></i> <a ui-sref="consultasGet">Clientes / Consultas</a></li>
            </ol>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <form name="ValidForm" id="form" class="form-horizontal">
                        <!--<div class="row">
                            <div class="col-lg-12">
                                <h1 class="page-header">Consultar: Propuestas, Iniciativas, Proyectos y Oportunidad de negocios</h1>
                            </div>
                        </div>-->
                        <div class="row">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Cliente
                            </label>
                            <form role="form" ng-submit="buscar()">
                               
                                <div class="col-md-6">
                                    <div id="sb-search" class="sb-search">
                                        <div angucomplete-alt match-class="highlight" id="selectempresa" maxlength="50" pause="100" selected-object="selectedempresa" local-data="empresas" textNoResults="No se encontrar&oacute;n resultados" search-fields="nombreEmpresa"
                                             title-field="nombreEmpresa" minlength="1" field-required="true" input-class="form-control" input-name="datalisttestinputempresa" placeholder="Escribe y selecciona...">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <a ng-click="buscar()" class="btn btn-success" title="Buscar empresa">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </a>
                                </div>

                            </form>
                            <div ng-show="iniciativasAsignadasEmpresa.length >= 1 || propuestasAsignadosEmpresa.length >=1 || proyectosAsignadosEmpresa.length >=1 || oportunidadNegocioEmpresa.length >=1" class="col-lg-12">Resultado de b&uacute;squeda para el cliente <b>{{empresa.nombreEmpresa}}</b></div>
                            <div ng-show="iniciativasAsignadasEmpresa.length === 0 && propuestasAsignadosEmpresa.length ===0 && proyectosAsignadosEmpresa.length ===0 && oportunidadNegocioEmpresa.length ===0">
                                <div ng-show="messageAlert.show">
                                    <div class="col-lg-12">
                                        <br />
                                        <div class="alert alert-warning">No existe informaci&oacute;n registrada...</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


            <div class="x_panel" ng-show="iniciativasAsignadasEmpresa.length >= 1 || propuestasAsignadosEmpresa.length >=1 || proyectosAsignadosEmpresa.length >=1 || oportunidadNegocioEmpresa.length >=1">
                <div class="x_title">
                    <h2>Proyectos</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content sin-desborde">
                    <form name="ValidForm" id="form" class="form-horizontal">

                        <div class="clearfix"></div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <br />
                                        <div ng-show="proyectosAsignadosEmpresa.length === 0" class="alert advertencia">No existen proyectos asociados a la empresa {{empresa.nombreEmpresa}}</div>
                                    </div>
                                </div>
                                <div class="row" ng-show="!loading">
                                    <div class="col-lg-12">
                                        <div ng-hide="proyectosAsignadosEmpresa.length === 0">
                                            <table id="CRclienteGet" dt-instance="dtInstance" class="table table-hover table-striped table-condensed dt-responsive" cellspacing="0" datatable="ng" width="100%" dt-options="dtOptions">
                                                <thead>
                                                    <tr>
                                                        <th style="width:70px" data-priority="1">N&uacute;mero</th>
                                                        <th style="width:210px">Nombre</th>
                                                        <th>Contacto</th>
                                                        <th>Monto</th>
                                                        <th>Fecha de inicio</th>
                                                        <th>Fecha de t&eacute;rmino</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="p in proyectosAsignadosEmpresa">
                                                        <td><a ng-click="detalleProyectoAsignado(p.proyectoId)" title="Detalles">{{p.proyectoId}}</a></td>
                                                        <td>{{p.nombre}}</td>
                                                        <td>{{p.contacto.nombreContacto}} {{p.contacto.apellidoPaterno}} {{p.contacto.apellidoMaterno}}</td>
                                                        <td>{{p.costo}}</td>
                                                        <td>{{p.fechaInicio | date:'yyyy-MM-dd'}}</td>
                                                        <td>{{p.fechaFin | date:'yyyy-MM-dd'}}</td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </form>
                </div>
            </div>
            <div class="x_panel" ng-show="iniciativasAsignadasEmpresa.length >= 1 || propuestasAsignadosEmpresa.length >=1 || proyectosAsignadosEmpresa.length >=1 || oportunidadNegocioEmpresa.length >=1">
                <div class="x_title">
                    <h2>Propuestas</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content sin-desborde">
                    <form name="ValidForm" id="form" class="form-horizontal">

                        <div class="row">
                            <div class="col-lg-12">
                                <div ng-show="propuestasAsignadosEmpresa.length === 0" class="alert advertencia">No existen propuestas asociadas a la empresa {{empresa.nombreEmpresa}}</div>
                            </div>
                        </div>
                        <div class="row" ng-show="!loading">
                            <div class="col-lg-12">
                                <div ng-hide="propuestasAsignadosEmpresa.length === 0">
                                    <table id="CRclienteGetpropuestasAsignadosEmpresa" dt-instance="dtInstance" class="table table-hover table-striped table-condensed dt-responsive" cellspacing="0" datatable="ng" width="100%" dt-options="dtOptions">
                                        <thead>
                                            <tr>
                                                <th style="width:70px" data-priority="1">N&uacute;mero propuesta</th>
                                                <th style="width:210px">Nombre</th>
                                                <th>Contacto</th>
                                                <th>Monto</th>
                                                <th>Fecha</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="p in propuestasAsignadosEmpresa">
                                                <td><a ng-click="detallePropuestaAsignado(p.propuestaId)" title="Detalles">{{p.propuestaId}}</a></td>
                                                <td>{{p.titulo}}</td>
                                                <td>{{p.contacto.nombreContacto}} {{p.contacto.apellidoPaterno}} {{p.contacto.apellidoMaterno}}</td>
                                                <td>{{p.costo}}</td>
                                                <td>{{p.fecha | date:'yyyy-MM-dd'}}</td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="x_panel" ng-show="iniciativasAsignadasEmpresa.length >= 1 || propuestasAsignadosEmpresa.length >=1 || proyectosAsignadosEmpresa.length >=1 || oportunidadNegocioEmpresa.length >=1">
                <div class="x_title">
                    <h2>Iniciativas</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content sin-desborde">
                    <form name="ValidForm" id="form" class="form-horizontal">

                        <div class="row">
                            <div class="col-lg-12">
                                <div ng-show="iniciativasAsignadasEmpresa.length === 0" class="alert advertencia">No existen iniciativas asociadas a la empresa {{empresa.nombreEmpresa}}</div>
                            </div>
                        </div>
                        <div class="row" ng-show="!loading">
                            <div class="col-lg-12">
                                <div ng-hide="iniciativasAsignadasEmpresa.length === 0">
                                    <table id="CRclienteGetiniciativasAsignadasEmpresa" dt-instance="dtInstance" class="table table-hover table-striped table-condensed dt-responsive" cellspacing="0" datatable="ng" width="100%" dt-options="dtOptions">
                                        <thead>
                                            <tr>
                                                <th style="width:70px" data-priority="1">N&uacute;mero iniciativa</th>
                                                <th style="width:210px">Nombre</th>
                                                <th>Contacto</th>
                                                <th>Monto</th>
                                                <th>Fecha</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="i in iniciativasAsignadasEmpresa">
                                                <td><a ng-click="detalleIniciativaAsignada(i.folioId)" title="Detalles">{{i.folioId}}</a></td>
                                                <td>{{i.titulo}}</td>
                                                <td>{{i.contacto.nombreContacto}} {{i.contacto.apellidoPaterno}} {{i.contacto.apellidoMaterno}}</td>
                                                <td>{{i.costo}}</td>
                                                <td>{{i.fecha | date:'yyyy-MM-dd'}}</td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="x_panel" ng-show="iniciativasAsignadasEmpresa.length >= 1 || propuestasAsignadosEmpresa.length >=1 || proyectosAsignadosEmpresa.length >=1 || oportunidadNegocioEmpresa.length >=1">
                <div class="x_title">
                    <h2>Oportunidades de negocio</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content sin-desborde">
                    <form name="ValidForm" id="form" class="form-horizontal">

                        <div class="row">
                            <div class="col-lg-12">
                                <div ng-show="oportunidadNegocioEmpresa.length === 0" class="alert advertencia">No existen oportunidades de negocio asociados a la empresa {{empresa.nombreEmpresa}}</div>
                            </div>
                        </div>
                        <div class="row" ng-show="!loading">
                            <div class="col-lg-12">
                                <div ng-hide="oportunidadNegocioEmpresa.length === 0">
                                    <table id="CRclienteGetoportunidadNegocioEmpresa" dt-instance="dtInstance" class="table table-hover table-striped table-condensed dt-responsive" cellspacing="0" datatable="ng" width="100%" dt-options="dtOptions">
                                        <thead>
                                            <tr>

                                                <th>Nombre</th>
                                                <th>Contacto</th>

                                                <th>Fecha Registro</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="p in oportunidadNegocioEmpresa">

                                                <td><a ng-click="detalleoportunidadAsignado(p.proyectoId)" title="Detalles">{{p.nombreOportunidad}}aaa</a></td>
                                                <td>{{p.contacto.nombreCompleto}}</td>

                                                <td>{{p.fechaRegistro | date:'yyyy-MM-dd'}}</td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <button type="button" ng-click="globalRegresar();" class="btn btn-primary">
        <span class="fa fa-arrow-left"></span> Regresar
    </button>
</div>





