<div ng-include="'app/vistasGenericas/header/registroNombrePersona.html'"> </div>
<div class="vista">
    <div class="page-title">
        <div class="title_left">
            <ol class="breadcrumb miga">
                <li>
                    <i class="fa fa-file-text-o"></i>
                    <a ui-sref="InformesBecariosInternos">Informes becarios internos</a>
                </li>
                <li class="active">Editar</li>
            </ol>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content sin-desborde">
                    <form name="ValidForm" id="form" ng-submit="ActualizaRegistro()" class="form-horizontal">
                        <div class="x_title">
                            <h2>Informaci&oacute;n general</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Empleado
                            </label>
                            <div class="col-md-6 col-lg-6 col-xs-6">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <input type="text" ng-model="registro.persona.nombreCompleto" id="searchTextBecario" disabled name="searchTextBecario" class="form-control"
                                            placeholder="Buscar por nombre">
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Beca interna
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select ng-model="registro.becaInternaId" name="becaInterna" ng-options="bi.becaInternaId as bi.descripcion for bi in becasinternas "
                                    required class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Carrera
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <input type="text" class="form-control" id="usr" name="datalisttestinputcarreras" ng-model="selectedcarrera.descripcion"
                                            disabled required placeholder="Buscar carrera">
                                    </div>
                                    <div class="col-xs-2">
                                        <a class="btn btn-success" ng-click="opencarreras()" title="Buscar carrera">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </a>
                                    </div>
                                    <span ng-show="ValidForm.datalisttestinputcarreras.$dirty &&  ValidForm.datalisttestinputcarreras.$invalid" class="error">La carrera no se encuentra registrada en el cat&aacute;logo.</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Instituci&oacute;n
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <input type="text" class="form-control" id="usr" name="institucionselect" ng-model="selectedinstitucion.descripcion" disabled
                                            required placeholder="Buscar Instituci&oacute;n">
                                    </div>
                                    <div class="col-xs-2">
                                        <a class="btn btn-success" ng-click="openInstituciones()" title="Buscar persona">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Pa&iacute;s
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control" id="usr" ng-model="selectedinstitucion.pais.descripcion" disabled>
                            </div>
                        </div>
                        <div class="x_title">
                            <h2>Per&iacute;odo de beca</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Inicio
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <input placeholder="dd/mm/yyyy" ng-minlength="8" ng-change="validarFechasInicio()" name="fechaInicio" datepicker-options="datePicker.FechaOptions"
                                            maxlength="10" ng-init="open=false" type="text" show-button-bar="false" popup-placement="bottom"
                                            class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="registro.fechaInicioBeca"
                                            value="{{ date | date: 'dd/MM/yyyy' }}" is-open="open" ng-required="true" close-text="Close"
                                        />
                                        <!-- <span ng-show="ValidForm.fechaInicio.$dirty &&  ValidForm.fechaInicio.$invalid" class="error">Formato inválido 'dd/MM/yyyy'</span> -->
                                    </div>
                                    <div class="col-xs-2">
                                        <button type="button" class="btn btn-success" ng-click="open=true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                T&eacute;rmino
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <input placeholder="dd/mm/yyyy" name="fechaTermino" ng-minlength="8" maxlength="10" ng-init="open2=false" datepicker-options="datePicker.FechaOptions"
                                            type="text" show-button-bar="false" popup-placement="bottom" class="form-control"
                                            uib-datepicker-popup="dd/MM/yyyy" ng-model="registro.fechaTerminoBeca" ng-change="validarFechas()"
                                            value="{{ date | date: 'dd/MM/yyyy' }}" is-open="open2" ng-required="true" close-text="Close"
                                        />
                                        <!-- <span ng-show="ValidForm.fechaTermino.$dirty &&  ValidForm.fechaTermino.$invalid" class="error">Formato inválido 'dd/MM/yyyy'</span> -->
                                    </div>
                                    <div class="col-xs-2">
                                        <button type="button" class="btn btn-success" ng-click="open2=true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Baja
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <input placeholder="dd/mm/yyyy" name="fechaBaja" ng-minlength="8" maxlength="10" ng-init="open3=false" type="text" show-button-bar="false"
                                            popup-placement="bottom" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="registro.fechaBaja"
                                            datepicker-options="datePicker.FechaOptions" value="{{ date | date: 'dd/MM/yyyy' }}"
                                            is-open="open3" close-text="Close" />
                                        <!-- <span ng-show="ValidForm.fechaBaja.$dirty &&  ValidForm.fechaBaja.$invalid" class="error">Formato inválido 'dd/MM/yyyy'</span> -->
                                    </div>
                                    <div class="col-xs-2">
                                        <button type="button" class="btn btn-success" ng-click="open3=true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Extensi&oacute;n
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="radio">
                                    <label>
                                        <input type="radio" id="radioactivo" ng-model="registro.extencion" uib-btn-radio="true">Si
                                    </label>
                                    <label>
                                        <input type="radio" id="radioinactivo" ng-model="registro.extencion" uib-btn-radio="false">No
                                    </label>
                                </div>
                                <!-- <div class="btn-group">
                                    <label class="btn btn-success btn-xs" ng-model="registro.extencion" uib-btn-radio="true">Si</label>
                                    <label class="btn btn-success btn-xs" ng-model="registro.extencion" uib-btn-radio="false">No</label>
                                </div> -->
                                <div class="form-group" ng-show="registro.extencion">
                                    <label for="usr">Fecha t&eacute;rmino extensión</label>
                                    <div class="row">
                                        <div class="col-xs-10">
                                            <input placeholder="dd/mm/yyyy" name="fechaTerminoExt" ng-minlength="8" maxlength="10" ng-init="open4=false" type="text"
                                                show-button-bar="false" popup-placement="bottom" class="form-control" uib-datepicker-popup="dd/MM/yyyy"
                                                ng-model="registro.fechaTerminoExt" value="{{ registro.fechaTerminoExt | date: 'dd/MM/yyyy' }}"
                                                datepicker-options="datePicker.FechaOptions" is-open="open4" close-text="Close"
                                            />
                                            <!-- <span ng-show="ValidForm.fechaTerminoExt.$dirty &&  ValidForm.fechaTerminoExt.$invalid" class="error">Formato inválido 'dd/MM/yyyy'</span> -->
                                        </div>
                                        <div class="col-xs-2">
                                            <button type="button" class="btn btn-success" ng-click="open4=true">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="x_title">
                            <h2>Evidencia
                                <small>Tama&ntilde;o m&aacute;ximo por archivo de 8 MB</small>
                            </h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Documento adjunto
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div ng-show="!regFile">
                                    <span class="fa fa-download"></span>&nbsp;&nbsp;
                                    <a href="/Descargas.html#/q/{{registro.adjunto.adjuntoId | encriptar}}" class="linkTabla" target="_blank">Descargar Archivo</a>
                                    &nbsp;&nbsp;
                                    <a class="btn btn-danger" title="Eliminar Archivo" ng-really-click="deleteFile();ValifForm.$setDirty();" ng-really-message="¿Está seguro de eliminar el documento adjunto?">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </a>
                                </div>
                                <div class="form-group" ng-show="regFile">
                                    <input class="input-file form-control col-md-7 col-xs-12" type="file" name="filesGral" id="filesGral" data-buttonName="btn-success"
                                        ng-click="saveIG();" ng-model="filesGral" onchange="angular.element(this).scope().getFileDetails(this);"
                                    />
                                </div>
                                <div class="form-group">
                                    <div class="alert informacion col-xs-12">
                                        <span class="glyphicon glyphicon-info-sign"></span> Nota: Para enviar la solicitud es necesario incluir el informe de becario
                                        como evidencia.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="x_title">
                            <h2>Estado del registro
                            </h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Estado
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select ng-model="registro.estadoFlujoId" name="estadoFlujoId" required ng-options="estado.estadoFlujoId as estado.descripcion for estado in estadosRegistro "
                                    class="form-control">
                                    <option value="">---Selecciona un estado--</option>
                                </select>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-xs-3"></div>
                            <div class="alert aprobado col-xs-6">
                                <span class="glyphicon glyphicon-info-sign"></span> Para que el registro pueda ser visto en la ficha curricular del empleado necesita
                                cargar el
                                <b>informe</b> del becario y estar en estado de
                                <b>aceptado</b>
                            </div>
                            <div class="col-xs-3"></div>
                        </div>
                        <!-- <div class="ln_solid"></div> -->
                        <div class="clearfix">
                            <br/>
                            <br/>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <div class="">
                                    <button type="submit" class="btn btn-success" ng-disabled="desabilitar || !ValidForm.becaInterna.$valid
                                            ||!(selectedcarrera!=null) || !(selectedinstitucion!=null)
                                            ||!ValidForm.fechaInicio.$valid ||!ValidForm.fechaTermino.$valid">
                                        <i class="glyphicon glyphicon-saved"></i> Actualizar
                                    </button>
                                    <button type="button" confirma-regresar="globalRegresar()" state-form="ValidForm" class="btn btn-primary">
                                        <span class="fa fa-arrow-left"></span> Regresar
                                    </button>
                                    <!-- <button ng-show="!regFile && editarGestion==0" ng-hide="editarGestion==1 || registro.estadoFlujoId!=1 || regFile" type="submit"
                                        ng-click="validar()" class="btn btn-warning" ng-disabled="desabilitar || !ValidForm.becaInterna.$valid
                                            ||!(selectedcarrera!=null) || !(selectedinstitucion!=null)
                                            ||!ValidForm.fechaInicio.$valid ||!ValidForm.fechaTermino.$valid">
                                        <i class="glyphicon glyphicon-saved"></i> Enviar solicitud al Administrador de CH
                                    </button> -->
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>