<div class="vista">
    <div class="page-title">
        <div class="title_left">
            <ol class="breadcrumb miga">
                <li><i class="fa fa-file-text-o"></i> <a ng-click="regresar()" href="">Informes anuales</a></li>
                <li class="active">Detalles</li>
            </ol>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            <div class="col-lg-12">
                <div class="x_panel">
                    <div class="x_content sin-desborde">
                        <div class="x_title">
                            <h2>{{informes.nombreInforme}}</h2>
                            <div class="clearfix"></div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <label>L&iacute;nea de investigaci&oacute;n</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                <span style="color:black" class="text">{{informes.lineaDesarrolloTecnologico.nomLinDesTec}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <label><b>Tipo de acceso</b></label>&nbsp;&nbsp;&nbsp;&nbsp;

                                <span style="color:black" class="text">{{informes.tipoAcceso==true? 'Público':'Privado'}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <label>Comunidad a la que pertenece</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                <span style="color: black" class="text">{{informes.nombreComunidad}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <label>Fecha de registro</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                <span style="color:black" class="text">{{informes.fechaRegistro | date:"dd/MM/yyyy"}}</span>
                            </div>
                        </div>
                        <div ng-if="informes.adjuntoId!=null && informes.tipoAcceso">
                            <label>Documento adjunto</label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a title="Descargar" href="/Descargas.html#/q/{{informes.adjuntoId | encriptar}}" target="_blank" class="btn btn-success">
                                <i class="glyphicon glyphicon-download-alt"></i>
                            </a>

                        </div>

                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            <div class="x_panel">
                <div class="x_content sin-desborde">
                    <div class="x_title">
                        <h2>Autores del registro</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="row col-xs-12">
                        <div ng-show="autores.length>0" class="col-xs-12">
                            <table class="table table-hover table-striped table-condensed dt-responsive" cellspacing="0" datatable="ng" width="100%"
                                   dt-options="dtOptions">
                                <thead>
                                <tr>
                                    <th>Clave</th>
                                    <th data-priority="1">Nombre</th>
                                    <th>Antig&uuml;edad en el instituto</th>
                                    <th>Correo</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="autor in autores">
                                    <td>
                                        <a class="linkTabla" ng-click="openProfile(autor.clavePersona)" style="cursor: hand;" title="Detalle de empleado"> {{autor.clavePersona}}</a>
                                    </td>
                                    <td>{{autor.nombreCompleto}}</td>
                                    <td>{{autor.antiguedad}} a&ntilde;os</td>
                                    <td>{{autor.correo}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-show="autores.length==0" class="alert advertencia col-xs-12">
                            No hay registros de autores
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button type="button" ng-click="regresar()" class="btn btn-primary">
                <span class="fa fa-arrow-left"></span> Regresar
            </button>
        </div>
    </div>
</div>
