<div class="pull-left">
    <div class="col-md-12 col-xs-8">
        <p>
            <a id="titleGray" href="/Resources/Files/Aviso de privacidad.pdf"
               target="_blank">Aviso de privacidad</a> |
            <a ng-click="creditos()" style="cursor:pointer;">Créditos</a> |
            <a ng-click="contacto()" style="cursor:pointer;">Contacto</a> |
            <a ng-click="ayuda()" style="cursor:pointer;">Ayuda</a><br />
            Copyright &copy; Instituto Nacional de Electricidad y Energías Limpias 2017 <br/>
            Esta versión es compatible con Google chrome e Internet explorer 11 o superior
            
        </p>
    </div>
</div>
<div class="pull-right">

        <div class="col-md-3 col-xs-4">
            <div id="logoIneel">
                <a href="http://vmintranet.iie.org.mx/intranet/online/principal.php" target="_blank">
                    <img src="Resources/logo_ineel.png" />
                </a>
            </div>
        </div>


</div>
<div class="clearfix"></div>