<div class="modal-content">
    <div class="modal-header">
        Confirmaci&oacuten
        <button type="button" class="close" ng-click="cancel()" data-dissmiss="modal">x</button>
        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
    </div>
    <div class="modal-body">
        &iquestDeseas activar el registro <strong>{{descripcionRow}}</strong>?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="ok()">Si</button>
        <button type="button" class="btn btn-default" ng-click="cancel()">No</button>
    </div>
</div>
