<div class="col-xs-12">
    <label for="asesor">Unidad organizacional</label>
</div>
<div class="col-xs-10">
    <input type="text" class="form-control" id="usr" name="asesor" ng-model="ngModel.nombreUnidad" disabled required>
</div>
<div class="col-xs-2">
    <!--<button class="btn btn-default" ng-click="openModal()" title="Buscar EO">
                <span class="glyphicon glyphicon-search"></span>
            </button>-->
    <a class="btn btn-success" ng-click="openModal()" title="Buscar EO">
                <span class="glyphicon glyphicon-search"></span>
    </a>
</div>