<script type="text/javascript">
// Solo permite ingresar numeros.
function soloNumeros(e){
	var key = window.Event ? e.which : e.keyCode
	return (key >= 48 && key <= 57)
}
</script>
<div class="vista">
    <div class="page-title">
        <div class="title_left">
            <ol class="breadcrumb miga">
                <li><i class="fa fa-cogs"></i> <a ui-sref="catalogosrh.RevistaGet">Administraci&oacute;n/Cat&aacute;logos/Revistas</a></li>
                <li class="active">Editar</li>
            </ol>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content sin-desborde">
                    <form name="ValidacionForm" id="form" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Revista <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <textarea ng-model="revista.revistaNombre" maxlength="100" required class="form-control" placeholder="Agrega el nombre de la revista..."></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                ISSN <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" ng-model="revista.issn" maxlength="40" required class="form-control" placeholder="Agrega el ISSN de la revista...">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Volumen <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" onKeyPress="return soloNumeros(event)" maxlength="30" class="form-control" id="usr" ng-model="revista.volumen" required placeholder="Agrega el número de volumen de la revista...">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                N&uacute;mero <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" onKeyPress="return soloNumeros(event)" maxlength="30" class="form-control" id="usr" ng-model="revista.numero" required placeholder="Agrega el número de la revista...">
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <div class="">
                                    <button type="submit" ng-click="save()" class="btn btn-success" style="padding-right:15px" ng-disabled="desactivar">
                                        <i class="glyphicon glyphicon-saved"></i> Actualizar
                                    </button>
                                    <button type="button" ui-sref="catalogosrh.RevistaGet" class="btn btn-primary" style="padding-right:15px">
                                        <span class="fa fa-arrow-left"></span> Regresar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div>
    <div data-ng-hide="authentication.isAuth">
        No tiene permisos para ingresar a esta sección.<br />
        Usuario no autentificado
    </div>
    <div data-ng-show="authentication.isAuth">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Editar Revista</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                        </div>
                        <div class="panel-body">
                            <form role="form" name="ValidacionForm">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="usr">Revista:<a style="color:red;font-weight:bold">*</a></label>
                                        <textarea ng-model="revista.revistaNombre" required class="form-control" placeholder="Agrega el nombre de la revista..."></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="usr">ISSN:<a style="color:red;font-weight:bold">*</a></label>
                                        <input type="text" ng-model="revista.issn" required class="form-control" placeholder="Agrega el ISSN de la revista...">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="usr">Volumen:<a style="color:red;font-weight:bold">*</a></label>
                                        <input type="text" onKeyPress="return soloNumeros(event)" class="form-control" id="usr" ng-model="revista.volumen" required placeholder="Agrega el número de volumen de la revista...">
                                    </div>
                                    <div class="form-group">
                                        <label for="usr">Número:<a style="color:red;font-weight:bold">*</a></label>
                                        <input type="text" onKeyPress="return soloNumeros(event)" class="form-control" id="usr" ng-model="revista.numero" required placeholder="Agrega el número de la revista...">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" ng-click="save()" class="btn btn-success" style="padding-right:15px" ng-disabled="desactivar">
                            <i class="glyphicon glyphicon-saved"></i> Guardar
                        </button>
                        <button type="button" ui-sref="catalogosrh.RevistaGet" class="btn btn-primary" style="padding-right:15px">
                            <span class="fa fa-arrow-left"></span> Regresar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
