<div class="row">
    <div class="col-md-6">
        <label>Busqueda Avanzada</label><br/><br /><br />
    </div>
</div>
<div class="row">
    <form class="form-horizontal" name="form2">
        <div class="col-sm-6">
        <div class="form-group">
            <label>*Titulo:</label>
            <input type="text" class="form-control" name="nombre" ng-model="insumo.nombre" required/><br />
            <label>*Numero del Proyecto:</label>
            <input type="text" class="form-control" name="nombre" ng-model="insumo.nombre" required/><br />
            <label>*Fecha de inicio:</label>
            <input type="text" class="form-control" name="nombre" ng-model="insumo.nombre" required/><br />
            <label>*Fecha de t&eacute;rmino:</label>
            <input type="text" class="form-control" name="nombre" ng-model="insumo.nombre" required /><br />
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="tipoAcceso">*Divisi&oacute;n:</label>
                <select type="text" class="form-control" name="tipoAcceso" ng-model="itf.tipoAcceso" ng-options="e.id as e.name  for e in selectTipo" required>
                    <option value="">SeleccionaDivisión</option>
                </select>
                <span class="error" ng-show="form2.tipoAcceso.$dirty &&  !form2.tipoAcceso.$valid">Selecciona por favor</span>
            </div>

            <div class="form-group">
                <label for="tipoAcceso">*Gerencia:</label>
                <select type="text" class="form-control" name="tipoAcceso" ng-model="itf.tipoAcceso" ng-options="e.id as e.name  for e in selectTipo" required>
                    <option value="">SeleccionaGerencia</option>
                </select>
                <span class="error" ng-show="form2.tipoAcceso.$dirty &&  !form2.tipoAcceso.$valid">Seleccione por favor</span>
            </div>
        </div>

</form>

</div>

<!--<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
        <a ui-sref="form.resultadosP" class="btn btn-block btn-info">
            Buscar <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
</div>-->

<button ng-click="busqav">Buscar</button>