<div class="vista">
    <div class="page-title">
        <div class="title_left">
            <ol class="breadcrumb miga">
                <li><i class="glyphicon glyphicon-file"></i> <a ui-sref="buscarproductoInnovador">Productos innovadores/ Buscar productos innovadores</a></li>
            </ol>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Criterios de b&uacute;squeda</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content sin-desborde">
                    <form name="Search" id="Search" class="form-horizontal">
                        <div class="col-xs-12">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group ">
                                    <label class="col-md-12 col-sm-12 col-xs-12">
                                        Producto o servicio
                                    </label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="text" id="s1" ng-model="prod.nombreTecnico" class="frmSearch form-control"
                                               placeholder="Nombre" />
                                    </div>
                                </div><!--Form-G-->
                                <div class="form-group ">
                                    <label class="col-md-12 col-sm-12 col-xs-12">
                                        Autor
                                    </label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="text" id="s1" ng-model="prod.autor" class="frmSearch form-control"
                                               placeholder="Nombre del autor" />
                                    </div>
                                </div><!--Form-G-->

                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group ">
                                    <label class="col-md-12 col-sm-12 col-xs-12">
                                        Proyecto
                                    </label>
                                    <div class="col-xs-10">
                                        <input type="text" class="form-control" placeholder="Buscar por proyecto" id="usr" name="proyecto" ng-model="prod.proyectoNombre" disabled>
                                    </div>
                                    <div class="col-xs-2">
                                        <a class="btn btn-success" ng-click="openProyecto()" title="Buscar por proyecto">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </a>
                                    </div>
                                </div><!--Form-G-->

                                <div class="form-group ">
                                    <label class="col-md-12 col-sm-12 col-xs-12">
                                        Gerencia
                                    </label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div uo-modal2 ng-model="prod.unidadOselect" ng-change="{{prod.unidadOrganizacionalId = prod.unidadOselect.claveUnidad}}" requerido="false" fecha=""></div>
                                    </div>
                                </div><!--Form-G-->
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group ">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <a class="btn btn-success" ng-click="buscar()" title="buscar">
                                            <span class="glyphicon glyphicon-search"></span> Buscar
                                        </a>
                                        <button type="button" ng-click="reset()" class="btn btn-primary">
                                             Limpiar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="x_panel" ng-show="busqueda">
                <div class="x_content">
                    <form name="ValidForm" id="form" class="form-horizontal">
                        <div class="col-xs-12">
                            <!--<div ng-show="registros.length === 0 || registros==null" class="alert advertencia">
                                No hay registros de productos innovadores.
                            </div>-->
                            <div>
                                <table id="GIbuscarProductoInnovador" dt-options="dtOptions"  dt-column-defs="dtColumnDefs" class="table table-hover table-striped table-condensed dt-responsive" cellspacing="0" width="100%" datatable="ng">
                                    <thead>
                                        <tr>
                                            <th>Nombre t&eacute;cnico<br />producto o servicio</th>
                                            <th data-priority="1">N&uacute;m proyecto</th>
                                            <th>Fecha<br />registro</th>
                                            <th>Autores</th>
                                            <th>Gerencia</th>
                                            <th>Estado<br />registro</th>
                                            <th>Factor innovación</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="registro in registros" id="{{registro.productoId}}">
                                            <td style="max-width:300px" class="sin-desborde"><a ng-click="setVariable('busquedaProductosInnovadores', prod);setGlobalID(registro.productoId)" ui-sref="buscarproductoInnovadorDetails" title="Detalle" class="linkTabla">{{registro.nombreTecnico}}</a></td>
                                            <!--<td>{{registro.proyectoId}}</td>-->
                                            <td href="" load-proyectos idproyecto="{{registro.proyectoId}}" title="Detalle de proyecto">{{registro.proyectoId}}</td>
                                            <td>{{registro.fechaRegistro === null ? 'Dato no disponible' : registro.fechaRegistro | date:"dd/MM/yyyy"}}</td>
                                            <td>
                                            <ul ng-repeat="aut in registro.productoAutores" style="margin-left:0; padding-left:0;">
                                                <li>
                                                    <a ng-click="openProfile(aut.substring(0,5))" title="Detalle de empleado" class="linkTabla ">
                                                        {{aut.substring(0,5)}}
                                                    </a>- {{aut.substring(5)}}
                                                </li>
                                            </ul>
                                            </td>
                                            <!--<td>{{registro.productoAutores.join(', ')}}</td>-->
                                            <td>{{registro.unidadOrganizacional}}</td>
                                            <td>{{registro.estadoFlujo}}</td>
                                            <td>{{registro.factorInnovacion}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--{{registros}}-->