﻿<div class="vista">
    <div class="page-title">
        <div class="title_left">

            <ol class="breadcrumb miga">
                <li><i class="disabled fa fa-list-alt"></i> <a ui-sref="GestionLineamientos">Gesti&oacute;n de lineamientos</a></li>
                <li class="active">Agregar</li>
            </ol>

        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content sin-desborde">
                    <form ng-submit="agregarRegistro()" id="formLineamientos" name="formLineamientos" class="form-horizontal">
                        <div class="x_title">
                            <h2>Informaci&oacute;n general</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Descripci&oacute;n<span class="required"> *</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-lg-6">
                                <textarea class="form-control" required ng-model="lineamientosComunidad.nombre" maxlength="500"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Tipo de lineamiento<span class="required"> *</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-lg-6">
                                <select class="form-control" required ng-model="tipoLineamiento" ng-options="e.tipoLineamientoId as e.nombre for e in tiposLineamiento"></select>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Documento adjunto
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input class="input-file col-md-7 col-xs-12" type="file" name="filesGral" id="filesGral" data-buttonName="btn-success"
                                       ng-click="saveIG();" ng-model="filesGral"
                                       onchange="angular.element(this).scope().getFileDetails(this);" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Nombre para el documento
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input class="form-control" ng-model="lineamientosComunidad.NombreAdjunto" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <div class="">

                                    <button type="submit" class="btn btn-success">
                                        <i class="glyphicon glyphicon-saved"></i> Guardar
                                    </button>
                                    <button type="button" confirma-regresar="regresar()" state-form="formLineamientos" class="btn btn-primary">
                                        <span class="fa fa-arrow-left"></span> Regresar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
