<div class="vista">
    <div class="page-title">
        <div class="title_left">
            <ol class="breadcrumb miga">
                <li>
                    <i class="fa fa-users"></i>
                    <a ui-sref="buscarPersonas">Búsqueda de personal / Por nombre ó clave empleado</a>
                </li>
            </ol>

        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-xs-12">
            <div class="x_panel">
                <div class="clearfix">
                    <br/>
                </div>
                <div class="x_content">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <form role="form" name="form">
                                    <div class="form-group col-md-3">
                                        <label class="control-label col-md-4">
                                            Buscar por:
                                        </label>
                                        <span class="input-group-btn col-md-4">
                                            <select class="btn btn-default" ng-init="filtros='todos'" ng-model="filtros" ng-change="loadFiltros()">
                                                <option value="todos">Nombre</option>
                                                <option value="todos">N&uacute;mero empleado</option>
                                                <!--<option value="aptitud">Aptitudes</option>-->
                                                <!--<option value="aptitudRanking">Aptitudes</option>-->
                                                <!--<option>FOO</option>-->
                                            </select>
                                        </span>
                                    </div>

                                    <div class="form-group col-md-9">
                                        <input ng-show="filtros=='todos'" type="text" class="form-control" ng-model="search" name="search" id="inputFiltro" ng-pattern="/^[ñáéíóúÑÁÉÍÓÚ$\w]{2}[ñáéíóúÑÁÉÍÓÚ\w\s]*$/"
                                         placeholder="Ej. José William ó 04909"/>

                                        <tags-input ng-show="filtros=='aptitud' || filtros=='aptitudRanking'" ng-model="aptitudesempleado" display-property="nombre"
                                            add-from-autocomplete-only="true" placeholder="Escriba y seleccione aptitud" replace-spaces-with-dashes="false"
                                            add-on-paste="false">
                                            <auto-complete source="filtro($query)"></auto-complete>
                                        </tags-input>
                                        <!-- <span class="input-group-btn">
                                            <button class="btn btn-secondary linkTabla" type="submit" ng-click="buscar()">
                                                <span class="fa fa-search"> </span>
                                            </button>
                                        </span> -->
                                    </div>
                                    <span class="error" ng-show="form.search.$dirty && form.search.$invalid">
                                        Se sugiere que cada palabra contenga por lo menos dos caracteres
                                    </span>
                                    <div class="col-xs-12 col-sm-12">
                                        <div style="margin-left:10px">
                                            <div class="form-group">
                                                <button type="submit" ng-click="buscar()" class="btn btn-success">
                                                    <i class="glyphicon glyphicon-search"></i> Buscar
                                                </button>
                                                <a class="btn btn-primary" ng-click="showResult=false; search=null">
                                                    Limpiar
                                                </a>

                                            </div>

                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <!--<div class="x_panel" ng-hide="showResult">
                <div class="x_title">
                    <h2>Personal</h2>

                    <div class="clearfix"></div>
                </div>
                </div>-->
            <div class="x_panel" ng-show="showResult">
                <div class="x_title">
                    <h2>Personal</h2>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content sin-desborde">

                    <div ng-hide="filtros=='aptitudRanking'">

                        <!--<table class="table table-hover table-striped table-condensed dt-responsive" cellspacing="0" datatable="ng" width="100%" dt-options="dtOptions">-->
                        <table class="display dt-responsive" cellspacing="0" id="personasResult" datatable="ng" width="100%">
                            <thead>
                                <tr>
                                    <th>N&uacute;m empleado</th>
                                    <th>Nombre de empleado</th>
                                    <th>Unidad</th>
                                    <th>Correo</th>
                                    <th>Ext.</th>
                                    <th>Tipo personal</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="p in registros">
                                    <td class="linkTabla" ng-click="openProfile(p.clavePersona)" title="Detalle de empleado">
                                        {{p.clavePersona}}
                                    </td>
                                    <td>
                                        {{p.nombreCompleto}}
                                    </td>
                                    <td>{{p.nombreUnidad}}</td>
                                    <td>
                                        <a class="" href="mailto:{{p.correo}}" target="_top">{{p.correo}} </a>
                                    </td>
                                    <td>{{p.extension}}</td>
                                    <td>
                                        {{p.tipoPersonal}}
                                    </td>
                                    <td>
                                        {{p.estado==1?'Activo':'Inactivo'}}
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                        registros: {{total}}
                    </div>

                    <div ng-show="filtros=='aptitudRanking'">
                        <table class="table table-hover table-striped table-condensed dt-responsive" cellspacing="0" datatable="ng" width="100%"
                            dt-options="dtOptions">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Nombre</th>
                                    <th>Coincidencias</th>
                                    <th>Aptitudes / Ranking</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="p in listaAptitudRanking | orderBy:'-total'">
                                    <td>{{p.clave}}</td>
                                    <td>
                                        <a class="linkTabla" ng-click="openProfile(p.clave)" title="Detalle de empleado">
                                            {{p.name}}
                                        </a>

                                    </td>
                                    <td>{{p.total}}</td>
                                    <td class="project_progress">

                                        <div class="progress">
                                            <div class="progress-bar bg-green" role="progressbar" aria-valuenow="{{p.porcentaje}}" aria-valuemin="0" aria-valuemax="100"
                                                style="width:{{p.porcentaje}}%">
                                                <span class="progress-label">{{p.porcentaje | number :2 | suprimeSufix :'.00' }}%</span>
                                            </div>
                                        </div>
                                    </td>

                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>




    </div>
</div>
<script>
    $('#inputFiltro').focus();

    $(document).ready(function () {
        $('.progress .progress-bar').progressbar({
            transition_delay: 1500
        });
    });
</script>