<div data-ng-hide="authentication.isAuth" class="text-center">
    No tiene permisos para ingresar a esta secci&oacute;n.<br /> Usuario no autentificado
</div>
<div data-ng-show="authentication.isAuth">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Editar &Aacute;rea Investigaci&oacute;n</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form role="form" ng-submit="saveAreaInvestigacion()" novalidate name="areaInvestigacionForm">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Nombre:<a style="color:red">*</a></label>
                                    <input required type="text" name="nombre" ng-model="areasInvestigacion.nombre" ng-minlength="2" ng-maxlength="250" class="form-control" />
                                    <span class="error" ng-show="areaInvestigacionForm.nombre.$dirty && !areaInvestigacionForm.nombre.$valid">
                                        El rango de caracteres debe ser m&iacute;nimo 2 y m&aacute;ximo 250.
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label>Descripci&oacute;n:</label>
                                    <input type="text" name="descrip" ng-model="areasInvestigacion.descripcion" class="form-control" ng-maxlength="300" />
                                    <span class="error" ng-show="areaInvestigacionForm.descrip.$dirty && ! areaInvestigacionForm.descrip.$valid">
                                        La descripci&oacute;n no debe de tener mas de 300 caracteres
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <!--<div class="form-group">
                                    <label>Fecha Efectiva:</label>
                                    <input required type="date" name="fecha" ng-model="areasInvestigacion.fechaEfectiva" value="{{areasInvestigacion.fechaEfectiva | date:'yyyy-MM-dd'}}" class="form-control" min="1975-01-01" max="2099-12-31"/>
                                    <span class="error" ng-show="areaInvestigacionForm.fecha.$invalid">La fecha no es v&aacute;lida</span>
                                </div>-->
                            </div>
                        </div>
                    </div>
                    <div class="panel-Modificado">
                        <button type="submit" class="btn btn-success" ng-disabled="desactivar">
                            <i class="glyphicon glyphicon-saved"></i> Actualizar
                        </button>
                        <button type="button" ui-sref="areasInvestigacionGet" class="btn btn-primary">
                            <span class="fa fa-arrow-left"></span> Regresar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>