<div id="page-wrapper">
    <br />
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Agregar calificaciones al módulo de competencias</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                
                </div>
                <div class="panel-body">
                    <form role="form" name="CalificacionForm">
                       
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="usr">Calificación:<a style="color:red;font-weight:bold">*</a></label>
                                <input type="text" class="form-control" id="Calificacion" ng-model="registro.calificacion" required />
                            </div>
                        </div>

                      
                    </form>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" ng-click="save()" class="btn btn-success" style="padding-right:15px">
                    <i class="glyphicon glyphicon-saved"></i> Guardar
                </button>
                <button type="button" ui-sref="calificacion" class="btn btn-default" style="padding-right:15px">
                    <span class="fa fa-arrow-left"></span> Regresar
                </button>
            </div>
        </div>
    </div>
</div>

