<div data-ng-show="authentication.isAuth">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content sin-desborde">
                    <div class="row">
                        <div class="col-lg-12">
                            <br />
                            <div ng-show="iniciativasAsignadasEmpresa.length === 0" class="alert advertencia">No existen iniciativas asociadas a la empresa {{empresa.nombreEmpresa}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div ng-hide="iniciativasAsignadasEmpresa.length === 0">
                            <table id="CRiniciativasAsignadasGet" dt-instance="dtInstance" class="table table-hover table-striped table-condensed" cellspacing="0" datatable="ng" width="100%" dt-options="dtOptions">
                                <thead>
                                    <tr>
                                        <th data-priority="1">N&uacute;mero iniciativa</th>
                                        <th>Nombre</th>
                                        <th>Contacto</th>
                                        <th>Monto</th>
                                        <th>Fecha</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="i in iniciativasAsignadasEmpresa">
                                        <td>{{i.folioId}}</td>
                                        <td><a class="link" style="cursor:pointer" ng-click="detalleIniciativaAsignada(i.folioId)">{{i.titulo}}</a></td>
                                        <td>{{i.contacto.nombreContacto}} {{i.contacto.apellidoPaterno}} {{i.contacto.apellidoMaterno}}</td>
                                        <td>{{i.costo}}</td>
                                        <td>{{i.fecha | date:'dd-MM-yyyy'}}</td>
                                        <td>
                                            <a class="btn btn-warning" ng-click="editarIniciativaAsignada(i.folioId)" title="Editar">
                                                <i class="glyphicon glyphicon-pencil"></i>
                                            </a>
                                            <a class="btn btn-danger" ng-click="eliminarIniciativa(i)" title="Eliminar">
                                                <i class="glyphicon glyphicon-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
