<div class="vista">
    <div class="page-title">
        <div class="title_left">

            <ol class="breadcrumb miga">
                <li><i class="fa fa-list-ul"></i> <a class="cursorPointer" ng-click="globalRegresar(); ">Aliados / Convenios</a></li>
                <li class="active">Agregar</li>
            </ol>

        </div>
    </div>

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content sin-desborde">
                    <form name="form" id="form" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                No. de convenio <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input required type="text" name="noConvenio" placeholder="Ingrese el n&uacute;mero de convenio" ng-model="convenio.noConvenio"  ng-minlength="2"  class="form-control" />
                                <span class="error" ng-show="form.noConvenio.$dirty && !form.noConvenio.$valid">
                                    El rango de caracteres debe ser m&iacute;nimo 2.
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Objeto del convenio <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <textarea rows="3" required type="text" placeholder="Ingrese el objetivo del convenio" name="objetoConvenio" ng-model="convenio.objetoConvenio" maxlength="300" ng-maxlength="300" class="form-control" />
                                <span class="error" ng-show="form.objetoConvenio.$dirty && !form.objetoConvenio.$valid">
                                    El n&uacute;mero m&aacute;ximo de caracteres debe ser 300.
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Tipo de convenio <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select  name="tipoConvenio" required class="form-control" ng-model="convenio.tipoConvenioId" ng-options="tipoConvenio.convenioId as tipoConvenio.nomTipConv for tipoConvenio in tiposConvenio ">
                                    <option value="" selected>--- Selecciona un convenio ---</option>
                                </select>
                                <span class="error" ng-show="form.tipoConvenio.$invalid && form.tipoConvenio.$dirty || form.$submitted && form.tipoConvenio.$invalid">
                                    Debes de seleccionar una opci&oacute;n
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Tipo de acceso <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select required name="tipoAccesoConvenio" class="form-control" ng-model="convenio.tipoAccesoConvenio">
                                    <option value="" selected>--- Selecciona un tipo de acceso ---</option>
                                    <option>P&uacute;blico</option>
                                    <option>Restringido</option>
                                </select>
                                <span class="error" ng-show="form.tipoAccesoConvenio.$invalid && form.tipoAccesoConvenio.$dirty || form.$submitted && form.tipoAccesoConvenio.$invalid">
                                    Debes de seleccionar una opci&oacute;n
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Nombre de quien firma el convenio
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" placeholder="&iquest;Qu&iacute;en firma el convenio?" name="nomFirmaConvenio" ng-model="convenio.nomFirmaConvenio" class="form-control" maxlength="200" ng-maxlength="200" />
                                <span class="error" ng-show="form.nomFirmaConvenio.$dirty && ! form.nomFirmaConvenio.$valid">
                                    El nombre no debe de tener mas de 200 caracteres
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                &Aacute;mbito <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select  required name="ambito" class="form-control" ng-model="convenio.ambitoConvId"
                                        scrolly style="overflow: scroll"
                                        ng-options="ambitoConv.ambitoConvId as ambitoConv.nombre for ambitoConv in ambitosConv ">
                                    <option value="" selected>--- Selecciona un &aacute;mbito ---</option>
                                </select>
                                <span class="error" ng-show="form.ambito.$invalid && form.ambito.$dirty || form.$submitted && form.ambito.$invalid">
                                    Debes de seleccionar una opci&oacute;n
                                </span>
                            </div>
                        </div>
                      
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Duraci&oacute;n de convenio 
                            </label>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                              Si es por tiempo indefinido, marque la casilla  <input type="checkbox" ng-model="convenio.indefinido" ng-change="form.$setDirty()" class="btn btn-info btn-circle"  />
                            </div>

                                                       
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Fecha de inicio <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <p class="input-group">
                                    <input name="fechaInicio" required placeholder="dd/mm/yyyy" show-button-bar="false" uib-datepicker-popup='dd/MM/yyyy'
                                           popup-placement="bottom" type="text" class="form-control fechaOnly" 
                                           ng-model="convenio.fechaInicio" is-open="open" close-text="Close" value="{{ date | date: 'dd/MM/yyyy' }}" datepicker-options="datePicker50.FechaOptions"
                                           ng-change="validarFechasInicio()" />
                                    <span ng-show="form.fechaInicio.$dirty &&  form.fechaInicio.$invalid" class="error">Formato inv&aacute;lido 'dd/MM/yyyy'</span>

                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-success" ng-click="open=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group" ng-show="!convenio.indefinido">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Fecha t&eacute;rmino <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <p class="input-group">
                                    <input name="fechaTermino" placeholder="dd/mm/yyyy" required ng-init="open2=false" type="text" show-button-bar="false"
                                           datepicker-options="datePicker50.FechaOptions"
                                           popup-placement="bottom" class="form-control fechaOnly" 
                                           uib-datepicker-popup="dd/MM/yyyy" ng-model="convenio.fechaTermino"
                                           value="{{ date | date: 'dd/MM/yyyy' }}" is-open="open2"
                                           close-text="Close" ng-change="validarFechas()" ng-required="!convenio.indefinido"/>
                                    <span ng-show="form.fechaTermino.$dirty &&  form.fechaTermino.$invalid" class="error">Formato inv&aacute;lido 'dd/MM/yyyy'</span>

                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-success" ng-click="open2=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Observaciones del convenio
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <textarea rows="3" type="text" placeholder="Registre observaciones relevantes acerca de el convenio a registrar" name="observacion" ng-model="convenio.observacion" maxlength="300" ng-maxlength="300" class="form-control" />

                               
                                <span class="error" ng-show="form.observacion.$dirty && ! form.observacion.$valid">
                                    El nombre no debe de tener mas de 200 caracteres
                                </span>
                            </div>
                        </div>
                    </form>
                    <div class="form-horizontal">
                        <div class="x_title">
                            <h2>&Aacute;reas involucradas<small></small></h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Unidad organizacional <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div uo-modal2 ng-model="nombreUnidad" state-form="form" enarreglo="false" ></div>

                            </div>

                            

                        </div>


                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">  </label>
                            <div class="col-md-6 col-sm-6 col-xs-12" ng-show="unidadesO.length>0">
                                <table class="table table-hover table-striped table-condensed">
                                    <thead>
                                        <tr>
                                            <th class="col-xs-9" data-priority="1">Unidad organizacional</th>
                                            <th class="col-xs-3 center">Eliminar</th>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat="unidadesOList in unidadesO track by $index">
                                        <td>{{unidadesOList.nombreUnidad}}</td>
                                        <td>
                                            <button type="button" ng-click="deleteArea(unidadesOList,unidadesO.indexOf(unidadesOList))" class="btn btn-danger">
                                                <i class="glyphicon glyphicon-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                       
                        <div class="x_title">
                            <h2>Evidencia</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Documento(s) adjunto(s)
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input class="input-file" type="file" name="filesGral" id="filesGral"
                                       ng-click="saveIG();" ng-model="filesGral" data-buttonName="btn-success"
                                       onchange="angular.element(this).scope().getFileDetails(this);" />
                                <span class="error" ng-show="form.filesGral.$dirty && !form.filesGral.$valid">Seleccione un documento</span>

                            </div>
                        </div>
                        <div class="form-group" ng-show="tasklist.length>0">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12 ">
                                <table class="table table-hover table-striped table-condensed" >
                                    <thead>
                                        <tr>
                                            <th   class="col-xs-9" data-priority="1">Adjuntos</th>
                                            <th  class="col-xs-3 center"  data-priority="2">Eliminar</th>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat="task in tasklist track by $index">
                                        <td style="max-width:200px" class="sin-desborde">{{task.nameFile}}</td>
                                        <td class="center">
                                            <button type="button" ng-click="deleteTaskAdjunto(task,tasklist.indexOf(task))" class="btn btn-danger">
                                                <i class="glyphicon glyphicon-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <div class="">

                                    <button type="submit" class="btn btn-success" ng-click="AddConvenio()"
                                            ng-disabled="form.$invalid || unidadesO.length == 0">
                                        <i class="glyphicon glyphicon-saved"></i> Guardar
                                    </button>
                                    <button type="button" confirma-regresar="globalRegresar()" state-form="form" class="btn btn-primary">
                                        <span class="fa fa-arrow-left"></span> Regresar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

