<div data-ng-show="authentication.isAuth">
    <div ng-hide="registros.length >= 0">
        <img src="images/cargando.gif" />
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div ng-show="registros.length === 0" class="alert advertencia">
                No hay registros de tesis dirigida.
            </div>
            <div ng-show="registros.length > 0">
                <table id="CHTesisDirigidaGet" class="table table-hover table-striped table-condensed dt-responsive" cellspacing="0" datatable="ng" width="100%"
                       dt-options="dtOptions">
                    <thead>
                        <tr>
                            <th data-priority="1">T&iacute;tulo</th>
                            <th data-priority="2">Grado<br />acad&eacute;mico</th>
                            <th data-priority="2">Fecha<br />inicio</th>
                            <th >Fecha<br />t&eacute;rmino</th>
                            <th>Estado<br />registro </th>
                            <th>Fecha<br />validación</th>
                            <th data-priority="1" class="thAjuste text-center">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="registro in registros">
                            <!--<td ng-if="registro.estadoFlujoId==1">{{registro.titulo}}</td>
                            <td ng-if="registro.estadoFlujoId!=1"><u><a ng-click="$event.stopPropagation();" ui-sref="tesisdirigidaDetails({id:registro.tesisDirigidaId})" title="Detalle">{{registro.titulo}}</a></u></td>-->
                            <td style="max-width:300px; cursor: pointer;" class="link sin-desborde" ng-click="$event.stopPropagation();" ui-sref="tesisdirigidaDetails({id:registro.tesisDirigidaId})" title="Detalle"><a>{{registro.titulo}}</a></td>
                            <td>{{registro.gradoAcademico.descripcion}}</td>
                            <td>{{registro.fechaInicio | date:"dd/MM/yyyy"}}</td>
                            <td>{{registro.fechaTermino | date:"dd/MM/yyyy"}}</td>
                            <td>{{registro.estadoFlujo.descripcion}}</td>
                            <td>{{registro.fechaValidacion === null ? 'Dato no disponible' : registro.fechaValidacion | date:"dd/MM/yyyy"}}</td>
                            <td class="text-center">
                                <a ng-if="idRol==1" ng-click="setGlobalID(registro.tesisDirigidaId);$event.stopPropagation();"
                                   ui-sref="TesisDirigidaDetailsAdmin({id:registro.tesisDirigidaId, id2: 1})" title="Aprobar registro" class="btn btn-warning">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                                <div ng-if="registro.estadoFlujoId==1 || editarGestion==1">
                                    <a  ng-if="idRol!=1" ng-click="setGlobalID(registro.tesisDirigidaId);$event.stopPropagation();" ui-sref="tesisdirigidaEdit" title="Editar" class="btn btn-warning">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                    </a>
                                    <a title="Eliminar" ng-if="registro.fechaValidacion === null && registro.estadoFlujoId!=3" ng-click="open(registro)" class="btn btn-danger">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </a>
                                </div>
                                <div ng-if="registro.estadoFlujoId==3">
                                    <a ng-if="idRol!=1" ng-really-message="Está a punto de acceder a un registro 'Aceptado', si modifica algún atributo deberá ser validado nuevamente. ¿Desea continuar?" ng-really-click="setGlobalID(registro.tesisDirigidaId);$event.stopPropagation();navegador();" title="Editar" class="btn btn-warning">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button ng-show="registros.length >= 0" type="button" ng-click="$event.stopPropagation();" ui-sref="tesisdirigidaAdd" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span> Agregar
            </button>
        </div>

    </div>
</div>