<div ng-include="'app/vistasGenericas/header/registroNombrePersona.html'"> </div>
<div class="vista">
    <div class="page-title">
        <div class="title_left">
            <ol class="breadcrumb miga">
                <li>
                    <i class="glyphicon glyphicon-file"></i>
                    <a ui-sref="fichapersonal.tesisdirigida({seccion:'tesisdirigida'})">Tesis dirigida</a>
                </li>
                <li class="active">Editar</li>
            </ol>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content sin-desborde">
                    <form name="ValidForm" id="form" class="form-horizontal">
                        <div class="x_title">
                            <h2>Informaci&oacute;n general</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                T&iacute;tulo
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <textarea type="text" maxlength="300" placeholder="Título..." class="form-control" ng-model="registro.titulo" ng-required="true"
                                    name="titulo" required auto-focus-campo></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Autor
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" maxlength="300" placeholder="Autor..." class="form-control" ng-model="registro.autor" ng-required="true"
                                    name="autor" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Grado acad&eacute;mico
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select ng-model="registro.gradoAcademicoId" ng-required="true" name="gradoAcademicoId" ng-options="obj.gradoAcademicoId as obj.descripcion for obj in gradoacademico "
                                    required class="form-control">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Palabras clave
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <textarea type="text" maxlength="300" placeholder="Palabras Clave..." ng-required="true" name="palabrasClave" class="form-control"
                                    ng-model="registro.palabrasClave" required></textarea>
                            </div>
                        </div>
                        <div class="x_title">
                            <h2>Per&iacute;odo de tesis</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Inicio
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <input placeholder="dd/mm/yyyy" ng-minlength="8" name="fechaInicio" maxlength="10" ng-init="open=false" type="text" show-button-bar="false"
                                            popup-placement="bottom" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="registro.fechaInicio"
                                            value="{{ date | date: 'dd/MM/yyyy' }}" is-open="open" ng-required="true" close-text="Close"
                                        />
                                        <span ng-show="ValidForm.fechaInicio.$dirty &&  ValidForm.fechaInicio.$invalid" class="error">Formato inválido 'dd/MM/yyyy'</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <button type="button" class="btn btn-success" ng-click="open=true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                T&eacute;rmino
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <input placeholder="dd/mm/yyyy" name="fechaTermino" ng-minlength="8" maxlength="10" ng-init="open2=false" type="text" show-button-bar="false"
                                            popup-placement="bottom" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="registro.fechaTermino"
                                            value="{{ date | date: 'dd/MM/yyyy' }}" is-open="open2" ng-required="true" close-text="Close"
                                        />
                                        <span ng-show="ValidForm.fechaTermino.$dirty &&  ValidForm.fechaTermino.$invalid" class="error">Formato inválido 'dd/MM/yyyy'</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <button type="button" class="btn btn-success" ng-click="open2=true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Aceptaci&oacute;n
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <input placeholder="dd/mm/yyyy" name="Aceptaci" ng-minlength="8" maxlength="10" ng-init="open3=false" type="text" show-button-bar="false"
                                            popup-placement="bottom" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="registro.fechaAceptacion"
                                            value="{{ date | date: 'dd/MM/yyyy' }}" is-open="open3" close-text="Close" />
                                        <span ng-show="ValidForm.Aceptaci.$dirty &&  ValidForm.Aceptaci.$invalid" class="error">Formato inválido 'dd/MM/yyyy'</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <button type="button" class="btn btn-success" ng-click="open3=true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                        <!--<button type="button" ng-if="registro.fechaAceptacion!=null" class="btn btn-danger" ng-click="clean()"><i class="glyphicon glyphicon-remove" title="borrar"></i></button>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Examen
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <input placeholder="dd/mm/yyyy" name="Examen" ng-minlength="8" maxlength="10" ng-init="open4=false" type="text" show-button-bar="false"
                                            popup-placement="bottom" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="registro.fechaExamen"
                                            value="{{ date | date: 'dd/MM/yyyy' }}" is-open="open4" close-text="Close" />
                                        <span ng-show="ValidForm.Examen.$dirty &&  ValidForm.Examen.$invalid" class="error">Formato inválido 'dd/MM/yyyy'</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <button type="button" class="btn btn-success" ng-click="open4=true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                        <!--<button type="button" ng-if="registro.fechaExamen!=null" class="btn btn-danger" ng-click="clean2()"><i class="glyphicon glyphicon-remove" title="borrar"></i></button>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="x_title">
                            <h2>Evidencia
                                <small>Tama&ntilde;o m&aacute;ximo por archivo de 8 MB, el formato de los archivos puede ser: PDF, DOC, DOCX</small>
                            </h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Documento adjunto
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div ng-show="!regFile">
                                    <span class="fa fa-download"></span>&nbsp;&nbsp;
                                    <a href="/Descargas.html#/q/{{registro.adjunto.adjuntoId | encriptar}}"
                                        class="linkTabla" target="_blank">Descargar Archivo</a>
                                    &nbsp;&nbsp;
                                    <a class="btn btn-danger" title="Eliminar Archivo" ng-really-click="deleteFile();ValidForm.$setDirty()"  ng-really-message="¿Está seguro de eliminar el documento adjunto?">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </a>
                                </div>
                                <div class="form-group" ng-show="regFile">
                                    <input class="input-file form-control col-md-7 col-xs-12" type="file" name="filesGral" id="filesGral" data-buttonName="btn-success"
                                        ng-click="saveIG();" ng-model="filesGral" onchange="angular.element(this).scope().getFileDetails(this);"
                                    />
                                </div>
                                <div class="form-group">
                                    <div class="alert informacion col-xs-12">
                                        <span class="glyphicon glyphicon-info-sign"></span> Nota: Para enviar la solicitud es necesario incluir el documento adjunto
                                        de evidencia.
                                    </div>
                                </div>
                                <!--<label ng-disabled>Nota: Para enviar la solicitud es necesario incluir el documento adjunto de evidencia.</label>-->
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3" ng-show="regFile">
                                <div class="">
                                    <button type="submit" class="btn btn-success" ng-click="add()" ng-disabled="desabilitar || !ValidForm.titulo.$valid
                                            ||!ValidForm.autor.$valid ||!ValidForm.gradoAcademicoId.$valid
                                            ||!ValidForm.palabrasClave.$valid
                                            ||!ValidForm.fechaInicio.$valid ||!ValidForm.fechaTermino.$valid">
                                        <i class="glyphicon glyphicon-saved"></i> Actualizar
                                    </button>
                                    <!-- <button type="button" ui-sref="fichapersonal.tesisdirigida({seccion:'tesisdirigida'})" class="btn btn-primary">
                                        <span class="fa fa-arrow-left"></span> Regresar
                                    </button> -->
                                    <button type="button" confirma-regresar="regresar()" state-form="ValidForm" class="btn btn-primary">
                                        <span class="fa fa-arrow-left"></span> Regresar
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3" ng-show="!regFile && editarGestion==0">
                                <div class="">
                                    <button type="submit" class="btn btn-success" ng-click="add()" ng-disabled="desabilitar || !ValidForm.titulo.$valid
                                            ||!ValidForm.autor.$valid ||!ValidForm.gradoAcademicoId.$valid
                                            ||!ValidForm.palabrasClave.$valid
                                            ||!ValidForm.fechaInicio.$valid ||!ValidForm.fechaTermino.$valid">
                                        <i class="glyphicon glyphicon-saved"></i> Actualizar
                                    </button>
                                    <!-- <button type="button" ui-sref="fichapersonal.tesisdirigida({seccion:'tesisdirigida'})" class="btn btn-primary">
                                        <span class="fa fa-arrow-left"></span> Regresar
                                    </button> -->
                                    <button type="button" confirma-regresar="regresar()" state-form="ValidForm" class="btn btn-primary">
                                        <span class="fa fa-arrow-left"></span> Regresar
                                    </button>
                                    <button ng-hide="editarGestion==1 || registro.estadoFlujoId!=1 || regFile" type="submit" ng-click="validar()" class="btn btn-warning"
                                        ng-disabled="desabilitar || !ValidForm.titulo.$valid
                                            ||!ValidForm.autor.$valid ||!ValidForm.gradoAcademicoId.$valid
                                            ||!ValidForm.palabrasClave.$valid
                                            ||!ValidForm.fechaInicio.$valid ||!ValidForm.fechaTermino.$valid">
                                        <i class="glyphicon glyphicon-saved"></i> Enviar solicitud al Administrador de CH
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>