<div class="vista">

    <div class="page-title">
        <div class="title_left">
            <ol class="breadcrumb miga">
                <li><i class="fa fa-cogs"></i> <a ui-sref="#">Solicitudes</a></li>
                <li><a ui-sref="#">Logros y Reconocimientos</a></li>
                <li class="active">Detalles</li>
            </ol>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content sin-desborde">
                    <form name="ValidForm" id="form" class="form-horizontal">
                        <div class="x_title">
                            <h2>Informaci&oacute;n general</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                T&iacute;tulo del logro o reconocimiento: <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <textarea ng-model="registro.titulo" required class="form-control"
                                          placeholder="Título del logro o reconocimiento"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Emisor: <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control" id="usr" ng-model="registro.emisor" required placeholder="Emisor...">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Descripci&oacute;n: <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <textarea ng-model="registro.descripcion" required class="form-control"
                                          placeholder="Descripción..."></textarea>
                            </div>
                        </div>
                        <div class="x_title">
                            <h2>Fecha de obtenci&oacute;n</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Fecha:<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <input placeholder="dd/mm/yyyy" readonly ng-init="open=false" type="text" show-button-bar="false" popup-placement="bottom" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="registro.fechaObtencion" value="{{ registro.fechaObtencion | date: 'dd/MM/yyyy' }}" is-open="open" ng-required="true" close-text="Close" />
                                    </div>
                                    <div class="col-xs-2">
                                        <button type="button" class="btn btn-success" ng-click="open=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="x_title">
                            <h2>Evidencia <small>Tama&ntilde;o m&aacute;ximo por archivo de 8 MB</small></h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Documento adjunto:
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div ng-show="!regFile">
                                    <span class="fa fa-download"></span>&nbsp;&nbsp;<a href="/Descargas.html#/q/{{registro.adjunto.adjuntoId | encriptar}}" class="linkTabla" target="_blank">Descargar Archivo</a>
                                    &nbsp;&nbsp;
                                    <a class="btn btn-danger" title="Eliminar Archivo" ng-click="deleteFile()">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </a>
                                </div>
                                <div class="form-group" ng-show="regFile">
                                    <input class="input-file form-control col-md-7 col-xs-12" type="file" name="filesGral" id="filesGral" data-buttonName="btn-success"
                                           ng-click="saveIG();" ng-model="filesGral"
                                           onchange="angular.element(this).scope().getFileDetails(this);" />
                                </div>

                                <!--<label ng-disabled>Nota: Para enviar la solicitud es necesario incluir el documento adjunto de evidencia.</label>-->
                            </div>
                        </div>
                        <div class="x_title">
                            <h2>Validación de información</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Fecha
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <input placeholder="dd/mm/yyyy" ng-minlength="8" name="FechaValidacion" maxlength="10" ng-init="open3=false" type="text" show-button-bar="false" popup-placement="bottom" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="FechaValidacionAux" value="{{ FechaValidacionAux | date: 'dd/MM/yyyy' }}" is-open="open3" close-text="Close" />
                                        <span ng-show="ValidForm.FechaValidacion.$dirty &&  ValidForm.FechaValidacion.$invalid" class="error">Formato inválido 'dd/MM/yyyy'</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <button type="button" class="btn btn-success" ng-click="open3=true"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Justificaci&oacute;n
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <textarea class="form-control" ng-model="justificacion" maxlength="500"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">

                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <button type="submit" class="btn btn-success" ng-really-click="save(2)" ng-disabled="desactivar" ng-show="!regFile" ng-really-message="{{aprobacionQ}}">
                                    <i class="glyphicon glyphicon-saved"></i> Aprobar Solicitud
                                </button>
                                <button type="submit" class="btn btn-warning" ng-really-click="save(3)" ng-really-message="{{rechazoQ}}">
                                    <i class="fa fa-reply"></i> Regresar Solicitud
                                </button>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <div class="">

                                    <button type="submit" class="btn btn-success" ng-click="save(1)" ng-disabled="desactivar">
                                        <i class="glyphicon glyphicon-saved"></i> Actualizar
                                    </button>
                                    <button type="button" ui-sref="solicitudesrh" class="btn btn-primary">
                                        <span class="fa fa-arrow-left"></span> Regresar
                                    </button>


                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
