<!-- page content -->
<div class="vista">

    <div class="page-title">
        <div class="title_full">

            <ol class="breadcrumb miga">
                <li><i class="sg sg-articulos-ponencia-cap1"></i> <a class="cursorPointer" ng-click="globalRegresar()">Cap&iacute;tulos/Buscar cap&iacute;tulos</a></li>
                <li class="active">Detalles</li>
            </ol>

        </div>
    </div>
    <div data-ng-hide="authentication.isAuth">
        No tiene permisos para ingresar a esta secci&oacute;n..<br /> Usuario no autentificado
    </div>
    <div data-ng-show="authentication.isAuth">

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="x_panel">
                    <div class="x_content sin-desborde">
                        <label class="detalle col-xs-12 sin-desborde " title="titulo">
                            {{registro.tituloCapitulo}}
                        </label>
                        <label class="cont emc col-xs-12 colorTit sin-desborde">
                            {{registro.tituloLibro}}
                        </label>
                        <!--</div>
                        </div>
                        <div class="x_panel">
                            <div class="x_content sin-desborde">-->
                        <!--<div class="x_title">
                            <h2>Editorial</h2>
                            <div class="clearfix"></div>
                        </div>-->

                        <label class="tit col-xs-12">
                            Editorial
                        </label>
                        <label class="cont col-xs-12 sin-desborde">
                            {{registro.editorial}}
                        </label>
                        <label class="tit col-xs-12">
                            Pa&iacute;s
                        </label>
                        <label class="cont col-xs-12">
                            {{pais.descripcion}}
                        </label>
                        <label class="tit col-xs-12">
                            <label>A&ntilde;o</label>
                        </label>
                        <label class="cont col-xs-12">
                            {{registro.year | date:'yyyy'}}
                        </label>
                        <label class="tit col-xs-12">
                            ISBN
                        </label>
                        <label class="cont col-xs-12 sin-desborde">
                            {{registro.isbn}}
                        </label>
                    </div>
                </div>

                <div class="x_panel" ng-show="registro.autorInternoCapitulo.length>0||registro.autorExternoCapitulo.length>0">
                    <div class="x_content sin-desborde">
                        <div class="x_title">
                            <h2>Autores del cap&iacute;tulo</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label>Autores internos</label><br />
                            <div ng-show="registro.autorInternoCapitulo.length ==0" class="alert advertencia">
                                No hay registros de autores internos
                            </div>
                            <table class="table table-hover" ng-show="registro.autorInternoCapitulo.length>0||registro.autorExternoCapitulo.length>0">
                                <thead>
                                    <tr>
                                        <th class="thAjuste">N&uacute;m emp </th>
                                        <th>Nombre de empleado</th>
                                        <th class="thAjusteColaboracion text-center">Orden de autor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="registro in registro.autorInternoCapitulo">
                                        <!--<td>{{registro.clavePersona}}</td>-->
                                        <td ng-click="openProfile(registro.clavePersona)" title="Detalle de empleado" class="linkTabla">{{registro.clavePersona}}</td>
                                        <td>{{registro.nombreCompleto}}</td>
                                        <td class="text-center">{{registro.contribucion}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="form-group" >
                            <label>Autores externos</label><br />
                            <div ng-show="registro.autorExternoCapitulo.length ==0" class="alert advertencia">
                                No hay registros de autores externos
                            </div>
                            <table class="table table-hover" ng-show="registro.autorExternoCapitulo.length>0">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Organizaci&oacute;n</th>
                                        <th class="text-center">Orden de autor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="registro in registro.autorExternoCapitulo">
                                        <td style="max-width:300px" class="sin-desborde">{{registro.nombre}}</td>
                                        <td style="max-width:300px" class="sin-desborde">{{registro.institucion}}</td>
                                        <td class="text-center thAjusteColaboracion">{{registro.contribucion}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="x_panel sin-desborde" ng-show="registro.editoresCapitulo.length>0">
                    <div class="x_title">
                        <h2>Editores</h2>
                        <div class="clearfix"></div>
                    </div>

                    <div class="form-group">
                        <dl ng-repeat="registro in registro.editoresCapitulo">
                            <dt class="sin-desborde">
                                <span class="fa fa-leanpub"></span>
                                {{registro.editor_Nombre}}
                            </dt>
                        </dl>

                    </div>
                </div>
                <div class="x_panel" ng-show="registro.adjunto!=null">
                    <div class="x_title">
                        <h2>Documentaci&oacute;n</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <!--<label>Archivo Adjunto:</label>-->
                        <span class="fa fa-unlock"></span>
                        <a class="linkArchivo" title="Descargar" href="/Descargas.html#/q/{{registro.adjunto.adjuntoId | encriptar}}" ta target="_blank"> {{registro.adjunto.nombre}}</a>
                        <!--<a href="/Descargas.html#/q/{{registro.adjunto.adjuntoId | encriptar}}" class="btn btn-default btn-sm" target="_blank"> Descargar Archivo </a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <button type="submit" ng-click="globalRegresar();" class="btn btn-primary" style="padding-right:15px">
                <span class="fa fa-arrow-left"></span> Regresar
            </button>
        </div>
    </div>
</div>

