<div class="vista">
    <div class="page-title">
        <div class="title_left">

            <ol class="breadcrumb miga">
                <li><i class="disabled fa fa-cogs"></i> <a ui-sref="TipoLineamientoGetAll">Administraci&oacute;n/Cat&aacute;logos/Tipos de documentos</a></li>
                <li class="active">Editar</li>
            </ol>

        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content sin-desborde">
                    <form ng-submit="saveLineamiento()" name="form" id="form" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Nombre <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" ng-model="tipoLineamiento.nombre" required class="form-control"
                                       name="nombre" minlength="2" maxlength="250" />
                                <!--<span class="error" ng-show="form.nombre.$dirty && form.nombre.$invalid">
                                    Dato incorrecto, se espera una longitud m&iacute;nima de 2 y m&aacute;ximo 250
                                </span>-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Descripci&oacute;n
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <textarea rows="3" type="text" ng-model="tipoLineamiento.descripcion" class="form-control"
                                          name="descrip" maxlength="300" />
                                <!--<span class="error" ng-show="form.descrip.$dirty && form.descrip.$invalid">
                                    Dato incorrecto, se espera una longitud m&aacute;ximo 300
                                </span>-->
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <div class="">

                                    <button type="submit" class="btn btn-success" >
                                        <i class="glyphicon glyphicon-saved"></i> Actualizar
                                    </button>
                                    <button type="button" ui-sref="TipoLineamientoGetAll" class="btn btn-primary">
                                        <span class="fa fa-arrow-left"></span>
                                        Regresar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

