<div class="vista">
    <div class="page-title">
        <div class="title_left">
            <ol class="breadcrumb miga">
                <li><i class="glyphicon glyphicon-file"></i> <a ui-sref="ideaInnovadora">Ideas innovadoras/ Mis ideas innovadoras</a></li>
                <li class="active">Agregar</li>
            </ol>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content sin-desborde">
                    <form name="ValidForm" id="form" ng-submit="agregar()" class="form-horizontal">
                        <div class="x_title">
                            <h2>Informaci&oacute;n general</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Nombre de la idea innovadora <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <textarea type="text" ng-minlength="10" ng-maxlength="1500" placeholder="Ingresa el nombre de la idea innovadora..." class="form-control" ng-model="registro.nombreIdea" ng-required="true" required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Palabras clave
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <textarea type="text" ng-maxlength="1000" name="" placeholder="Ingresa las palabras clave..." class="form-control" ng-model="registro.palabrasClave"></textarea>
                            </div>
                        </div>
                        <div class="x_title">
                            <h2>Identificaci&oacute;n de los clientes potenciales</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    ¿Qui&eacute;nes ser&iacute;an los clientes potenciales?
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea type="text" ng-maxlength="1000" name="" placeholder="Ingresa los clientes potenciales..." class="form-control" ng-model="registro.clietesPotenciales"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    ¿A qu&eacute; se dedican?
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea type="text" ng-maxlength="1000" name="" placeholder="Ingresa a que se dedican..." class="form-control" ng-model="registro.dedicacionClientesP"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    ¿C&oacute;mo se beneficiar&iacute;a el cliente con la oferta de valor del INEEL?
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea type="text" ng-maxlength="1000" name="" placeholder="Ingresa como se beneficiaría..." class="form-control" ng-model="registro.beneficiosCliente"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="x_title">
                            <h2>Proponentes</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Proponente
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <a ng-click="openUser()" class="btn btn-success">
                                    <span class="fa fa-user-plus"></span> Buscar
                                </a>
                                <input ng-if="proponente.length<=0" style="background-color:transparent; border:none" onkeypress="return false;"  />
                                <div class="row">
                                    <div class="col-md-12" ng-if="PersonaSeleccionada.clavePersona!=null">
                                        <div class="col-xs-6 col-md-3">
                                            <input disabled class="form-control" ng-model="proponente.clavePersona" />
                                        </div>
                                        <div class="col-xs-6 col-md-5">
                                            <input disabled class="form-control" ng-model="proponente.nombrePersona" />
                                        </div>
                                        <div class="col-xs-6 col-md-3">
                                            <select class="form-control"  ng-model="proponente.contribucion" ng-options="cn as cn.contribucion for cn in contribucion | orderBy:'id' track by cn.id"></select>
                                        </div>
                                        <div class="col-xs-6 col-md-1">
                                            <a title="Agregar" ng-click="add_proponente()" class="btn btn-success">
                                                <i class="glyphicon glyphicon-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div><br />
                                <div ng-show="proponentes.length > 0">
                                    <table id="CHPonenciaAdd" class="table table-hover table-striped table-condensed dt-responsive" cellspacing="0"
                                           dt-options="dtOptions">
                                        <thead>
                                            <tr>
                                                <th>Clave</th>
                                                <th data-priority="1">Nombre</th>
                                                <th data-priority="2">Contribuci&oacute;n</th>
                                                <th data-priority="3" class="thAjuste text-center">Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="proponente in proponentes">
                                                <td>{{proponente.clavePersona}}</td>
                                                <td>{{proponente.nombreCompleto}}</td>
                                                <td>{{proponente.contribucionDescripcion}}</td>
                                                <td class="text-center">
                                                    <div>
                                                        <a title="Eliminar" ng-really-click="eliminarProponente(proponente)" class="btn btn-danger">
                                                            <i class="glyphicon glyphicon-trash"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="x_title">
                            <h2>Descripci&oacute;n de contexto</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    ¿Cu&aacute;l es el problema o necesidad que se pretende satisfacer? 
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea type="text" ng-maxlength="1000"  name="" placeholder="Ingresa el problema o necesidad..." class="form-control" ng-model="registro.problema" ></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    ¿Si ya existen soluciones en el mercado, qu&eacute; limitaciones tienen? 
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea type="text" ng-maxlength="1000"  name="" placeholder="Ingresa las limitaciones..." class="form-control" ng-model="registro.limitaciones" ></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    ¿Si no existen soluciones, cu&aacute;les son las principales razones de su inexistencia? 
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea type="text" ng-maxlength="1000"  name="" placeholder="Ingresa las razones..." class="form-control" ng-model="registro.razonesInexistncia" ></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    ¿Cu&aacute;l ser&iacute;a la relevancia de la nueva soluci&oacute;n a desarrollar? 
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea type="text" ng-maxlength="1000"  name="" placeholder="Ingresa la relevancia..." class="form-control" ng-model="registro.relevanciaNuevaSolucion" ></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    ¿Qu&eacute; partes interesadas se beneficiar&iacute;an? 
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea type="text" ng-maxlength="1000"  name="" placeholder="Ingresa las partes interesadas..." class="form-control" ng-model="registro.partesInteresadasBeneficiadas" ></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    ¿Qu&eacute; capacidades (competencias y recursos) tiene el INEEL que lo habilitan para desarrollar una nueva y mejor solución? 
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea type="text" ng-maxlength="1000"  name="" placeholder="Ingresa las capacidades..." class="form-control" ng-model="registro.capacidades" ></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="x_title">
                            <h2>Descripci&oacute;n del desarrollo tecnológico</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    ¿En qu&eacute; consiste? 
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea type="text" ng-maxlength="1000"  name="" placeholder="Ingresa en que consiste..." class="form-control" ng-model="registro.descripcionDesarrollo" ></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    ¿Qu&eacute; barreras tecnol&oacute;gicas hay que franquear? 
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea type="text" ng-maxlength="1000"  name="" placeholder="Ingresa las barreras tecnológicas..." class="form-control" ng-model="registro.barrerasTecnologicas" ></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="x_title">
                            <h2>Descripci&oacute;n de la oferta de valor del INEEL</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    ¿Se desarrollar&aacute; una nueva o mejorada capacidad de servicio, o bien un producto o productos? 
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea type="text" ng-maxlength="1000"  name="" placeholder="Ingresa los servicios o productos..." class="form-control" ng-model="registro.capacidadServicio" ></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    ¿Por qu&eacute; los clientes preferir&aacute;n la oferta  de valor del INEEL? 
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea type="text" ng-maxlength="1000"  name="" placeholder="Ingresa el porque de la oferta de valor..." class="form-control" ng-model="registro.ofertaValor" ></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    ¿C&oacute;mo se  proteger&aacute;n el o los desarrolladores tecnol&oacute;gicos (secreto industrial, patente, derecho de autor)? 
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea type="text" ng-maxlength="1000" name="" placeholder="Ingresa como se proteger&aacute;n los desarrolladores..." class="form-control" ng-model="registro.protegerDesarrolloTecnologico" ></textarea>
                                </div>
                            </div>
                        </div>
                        
                        <div class="x_title">
                            <h2>Comunidad de pr&aacute;ctica</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                             Si la idea innovadora surgió de una comunidad de pr&aacute;ctica, indique cu&aacute;l
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div comudidad-practica-select state-form="ValidForm" ng-model="registro.comunidad"></div>
                            </div>
                        </div>
                        <div class="x_title">
                            <h2>Evidencia <small>Tama&ntilde;o m&aacute;ximo por archivo de 8 MB</small></h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Documento adjunto
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input class="input-file form-control col-md-7 col-xs-12" type="file" name="filesGral" id="filesGral" data-buttonName="btn-success"
                                       ng-model="filesGral"
                                       onchange="angular.element(this).scope().getFileDetails(this);" />
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <div class="">
                                    <button type="submit" class="btn btn-success">
                                        <i class="glyphicon glyphicon-saved"></i> Guardar
                                    </button>
                                    <button type="button" confirma-regresar="globalRegresar()" state-form="ValidForm" class="btn btn-primary">
                                        <span class="fa fa-arrow-left"></span> Regresar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
