<div class="modal-content sin-desborde">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" data-dissmiss="modal">x</button>
    </div>
    <div class="modal-body">


        <div class="row">
            <div class="col-xs-12 visible-print">
                <img data-ng-src="images/cabeceraFichaPersonal.png" />
            </div>
            <div class="col-xs-12 visible-print">
                <br />
            </div>
            <div class="col-xs-12">
                <div class="col-xs-12">
                    <div class="x_content sin-desborde">
                        <!--panel izquierdo empresa-->
                        <div class="col-md-4 col-xs-12 profile_left">
                            <div class="profile_img">
                                <div id="crop-avatar">
                                    <img ng-show="empresa.adjunto64!=null" class="img-thumbnail" ng-src="data:image/png;base64,{{empresa.adjunto64}}" width="220"
                                         height="220" title={{empresa.nombreEmpresa}}>
                                    <img ng-show="empresa.adjunto64==null" src="images/empresa.png" class="img-thumbnail" width="180" height="180" title={{empresa.nombreEmpresa}}>
                                </div>
                            </div>
                            <br />
                            <ul class="list-unstyled user_data">
                                <li>
                                    <i class="fa fa fa-institution"></i> {{empresa.tipoOrganizacion.nombre}}
                                </li>
                                <li ng-if="empresa.nombreTitular">
                                    <i class="fa fa fa-user"></i> {{empresa.nombreTitular}}
                                </li>
                                <li lass="m-top-xs" ng-if="empresa.puesto">
                                    <i class="fa fa-briefcase user-profile-icon"></i> {{empresa.puesto}}
                                </li>
                                <li lass="m-top-xs" ng-if="empresa.correo">
                                    <i class="fa fa fa-envelope"></i> {{empresa.correo}}
                                </li>
                                <li lass="m-top-xs" ng-if="empresa.telefono">
                                    <i class="fa fa fa-phone" title="Tel"></i> {{empresa.telefono}} | {{empresa.ext}}
                                </li>
                                <li lass="m-top-xs" ng-if="empresa.celular">
                                    <i class="fa fa fa-mobile-phone" title="celular"></i> {{empresa.celular}}
                                </li>
                                <!--<li lass="m-top-xs" ng-if="empresa.sitioWeb">
                                    <i class="fa fa-briefcase user-profile-icon"></i> {{empresa.sitioWeb}}
                                </li>-->
                            </ul>
                        </div>

                        <!-- panel derecho empresa-->
                        <div class="col-md-8 col-xs-12">
                            <label class="detalle">{{empresa.nombreEmpresa}}</label>
                            <br />
                            <div class="sin-desborde" ng-if="empresa.descripcion!=null">
                                <label class="detalle_subtitulo">
                                    {{empresa.descripcion}}
                                </label>
                            </div>
                            <div class="clearfix" >
                                <br /><br />
                            </div>
                            <ul class="list-unstyled user_data">
                                <li class="m-top-xs" ng-show="proyectosVigentes!=0">
                                    <i class="fa fa"></i>
                                    <b>Proyectos vigentes:</b> {{proyectosVigentes}}
                                </li>
                                <li class="m-top-xs" ng-show="proyectosHistoricos!=0">
                                    <i class="fa fa"></i>
                                    <b>Proyectos hist&oacute;ricos:</b> {{proyectosHistoricos}}
                                </li>
                                <li class="m-top-xs" ng-show="convenios!=0">
                                    <i class="fa fa"></i>
                                    <b>Convenios:</b> {{convenios}}
                                </li>
                                <li class="m-top-xs" ng-show="fondos!=0">
                                    <i class="fa fa"></i>
                                    <b>Fondos asociados:</b> {{fondos}}
                                </li>
                            </ul>
                            <div ng-show="empresa.descripcion==null && proyectosVigentes==0 && proyectosVigentes==0 && convenios==0 && fondos==0">
                                <div class="alert advertencia">
                                    No hay más información registrada
                                </div>
                            </div>
                        </div>
                        
                    </div>

                </div>
            </div>


            <div class="clearfix"></div>

        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-success" target="_blank" href="/indexCR.html#/detalleEmpresas/{{empresa.empresaId}}" title="Detalles">
            Detalles
        </a>
        <button type="button" class="btn btn-primary" ng-click="cancel()">Cerrar</button>
    </div>
</div>